<form ngDefaultControl [formGroup]="facetForm">
  <div ngDefaultControl formArrayName="facets">
    <div class="row">
      <h3>Start Adding Facets</h3>
      <p>Add facets to your rubric. Describe what part of the goal is being evaluated.</p>
    </div>
    <div class="d-flex">
      <button type="button" class="btn btn-outline-dark me-auto" (click)="addFacet()">Add Facet</button>

      <input
        *ngIf="!isEditing; else editFacetsButton"
        [disabled]="!facetForm.valid"
        type="submit"
        class="btn btn-primary ms-auto"
        (click)="onSubmit()"
        value="Finish and Create"
        ngDefaultControl>
      <ng-template #editFacetsButton>
        <input
          [disabled]="!facetForm.valid"
          type="submit"
          class="btn btn-primary ms-auto"
          (click)="makeEditsToFacets()"
          value="Save Changes"
          ngDefaultControl>
      </ng-template>
    </div>

    <div class="accordion" id="accFacets">
      <div *ngFor="let facet of facetsFormArray().controls; let facetIndex = index" class="accordion-item" ngDefaultControl>
        <div ngDefaultControl  [formGroupName]="facetIndex" class="card mt-2">
          <div class="accordion-header" id="heading-{{facetIndex}}-accFacets">
            <div class="d-flex">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#facet-'+ facetIndex">
                Facet {{facetIndex + 1}} Details
              </button>
              <button
                data-bs-target="#modalDeleteFacet"
                data-bs-toggle="modal"
                class="ms-auto btn btn-danger"
                type="button"
              >
                Remove
              </button>
            </div>
          </div>
          <div [id]="'facet-' + facetIndex"
               class="accordion-collapse collapse"
               [ngClass]="{
               'show' : facetIndex === 0
               }"
               data-bs-parent="#accFacets" >
          <div class="accordion-body">
            <h5 class="card-title">Fill out information about the facet.</h5>
            <div class="card-text mb-3">
              Describe what will be evaluated. Student Understanding? Skill? Process?
            </div>
            <div class="form-group col-md-4">
              <label for="facetName-{{facetIndex}}" class="form-label">Facet Name:</label>
              <input
                type="text"
                class="form-control"
                id="facetName-{{facetIndex}}"
                ngDefaultControl
                formControlName="name"
                required
              >
              <div class="row-height-30">
                <div
                  *ngIf="facet.get('name')?.dirty || facet.get('name')?.touched">
                  <div *ngIf="facet.get('name')?.errors?.['required']">
                    <label class="text-danger">A name is required.</label>
                  </div>
                </div>
              </div>
              <div class="form-group col-md">
                <label class="form-label">Description:</label>
                <textarea
                  class="form-control"
                  ngDefaultControl
                  formControlName="description"
                  rows="2"></textarea>
                <div class="row-height-30">
                  <div
                    *ngIf="facet.get('description')?.dirty || facet.get('description')?.touched">
                    <div *ngIf="facet.get('description')?.errors?.['required']">
                      <label class="text-danger">A description is required.</label>
                    </div>
                    <div *ngIf="facet.get('description')?.errors?.['maxLength']">
                      <label class="text-danger">A description is required.</label>
                    </div>
                    <div *ngIf="facet.get('description')?.errors?.['minLength']">
                      <label class="text-danger">A description is required.</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ngDefaultControl formArrayName="criteria">
              <div class="row">
                <div ngDefaultControl class="card col-lg" *ngFor="let crit of facetCriteria(facetIndex).controls; let critIndex = index">
                  <div ngDefaultControl [formGroupName]="critIndex">
                    <div class="card-header d-flex">
                      <label
                        class="me-auto form-text"
                        [textContent]="scoreArray[critIndex]"
                        id="facet-crit-{{facetIndex}}-{{critIndex}}"
                        ngDefaultControl
                        formControlName="score"

                      ></label>
                      <!--                  <button class="btn btn-danger" (click)="removeCriteria(facetIndex, critIndex)">X</button>-->
                    </div>
                    <div class="card-text">
                      <input

                        type="hidden"
                        ngDefaultControl
                        formControlName="criteriaID"
>
                      <div class="form-group">
                    <textarea
                      placeholder='Add description of the criteria here, e.g. "Student showed an understanding to this degree by doing..."'
                      ngDefaultControl
                      formControlName="content"

                      rows="8"
                      class="form-control"
                    ></textarea>
                        <div class="row-height-30">
                          <div
                            *ngIf="crit.get('content')?.dirty || crit.get('content')?.touched">
                            <div *ngIf="crit.get('content')?.errors?.['required']">
                              <label class="text-danger">Content is required.</label>
                            </div>
                            <div *ngIf="crit.get('content')?.errors?.['maxLength']">
                              <label class="text-danger">Max 250 characters.</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

<!--        start modal-->

        <div class="modal fade" id="modalDeleteFacet">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Facet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this facet? You will not be able to recover it.</p>
              </div>
              <div class="modal-footer">
                <div class="form-group row m-2">
                  <div class="col-12">
                    <button type="button" class="btn btn-primary me-2" (click)="removeFacet(facetIndex)"
                            data-bs-dismiss="modal">Yes
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>
</form>


