<!--rubric description-->

<div class="row">
  <h2 class="card-header">{{rubric.name}}</h2>
  <div class="card">

    <div class="card-body">
      <div class="d-inline-flex card-subtitle mt-2">
        <p class="me-2 text-black-50">Created:</p>
        <p class="me-2 text-black-50">{{ rubric.dateCreated | date }}</p>
        <p class="me-2 text-black-50">|</p>
        <p class="me-2 text-black-50">Updated:</p>
        <p class="me-2 text-black-50">{{ rubric.dateUpdated | date }}</p>
      </div>
      <h6 class="card-text">Description:</h6>
      <p class="card-text" [innerHTML]="rubric.description | htmlLineBreaks"></p>
      <h6 class="card-text">Subjects:</h6>
      <button
        *ngFor="let subject of rubric.subjects"
        class="btn btn-sm btn-dark m-1"
        data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ subject.description}}"
      >
        {{subject.subject_id}}
      </button>
    </div>
    <div class="row card-footer">
      <div *ngIf="isRubricCreator; else elseBlockForIsRubricCreator">
        <a class="btn btn-primary" routerLink="/edit-rubric/{{rubric._id}}">Edit</a>
        <button
          class="btn btn-danger ms-2"
          data-bs-target="#modalDeleteRubric"
          data-bs-toggle="modal"
        >
          Delete
        </button>

      </div>
      <ng-template #elseBlockForIsRubricCreator>
        <div class="row-height-30"></div>
      </ng-template>
    </div>
  </div>
</div>


<div class="modal fade" id="modalDeleteRubric">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Rubric</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this rubric? You will not be able to recover it.</p>
      </div>
      <div class="modal-footer">
        <div class="form-group row m-2">
          <div class="col-12">
            <button type="button" class="btn btn-primary me-2" (click)="deleteRubric()"
                    data-bs-dismiss="modal">Yes
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
